@import "../mixin";
@import "../reset";
@import "../variables";


.product-details {
    display: flex;
    flex-direction: column;
   gap: 40px;
   margin-top: 50px;
   margin-bottom: 50px;
    h1 {
        @include font(normal, 500, 1rem, 1.5rem);
    }

    h3 {
        @include font(normal, 500, 1.25rem, 1.75rem);
        padding: 0.75rem 0;
    }

    @include responsive_lg{
        flex-direction: row;
        width: 100%;
        margin-top: 3rem;
        margin-bottom: 3rem;
        h1 {
            @include font(normal, 500, 1.25rem, 1.75rem);
        }
    }
}

.product-image{
    @include responsive_lg{
        width: 50%;
        img{
            width: 72%;
        }
    }
}

.product-colors {
    display: flex;
    gap: 10px;
    margin:2.5rem 0 1.5rem;

    .color-btn {
        border-radius: 50%;
        border: none;
        width: 20px;
        height: 20px;
    }
    @include responsive_lg{
        margin-top: 2rem;
    }
}




.product-memories {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 1.5rem;

    .memory-btn {
        border: none;
        border-radius: 4px;
        padding: 8px;
    }
}

.product-detail {
    position: relative;

    .basket-btn {
        position: absolute;
        bottom: 14.125rem;
        right: 1rem;

        button {
            background-color: $green1;
            padding: 1rem 2.75rem;
            border: none;
            color: white;
            display: flex;
            align-items: center;
            gap: 1rem;
            border-radius: 8px;
            @include font(normal, 500, 0.875rem, 1rem);
        }
        button:hover{
            background-color: white;
            color: $green1;
            border: 1px solid $green1;
            img{
                filter: brightness(0) saturate(100%) invert(67%) sepia(92%) saturate(378%) hue-rotate(85deg) brightness(86%) contrast(93%);
            }
        }
       
    }

    @include responsive_lg {
        width: 50%;
        .basket-btn {
            position: inherit;
        }
    }
}

.product-count {
    display: flex;
    gap: 2rem;
    align-items: center;

    button {
        width: 32px;
        height: 32px;
        border: none;
        border-radius: 50%;
    }
    @include responsive_lg{
        margin-bottom: 3.5rem;
    }
}

.add-to-basket{
    margin-bottom: 3rem;
}

.swiper-slide{
    display: flex;
    justify-content: center;
}

.swiper-container{
    margin-bottom: 35px;
}